/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* THEME */
:root {
  --bg-dark: #0f172a;
  --bg-card: #020617;
  --text-main: #e5e7eb;
  --text-muted: #94a3b8;
  --accent: #14b8a6;
}

body {
  background: var(--bg-dark);
  color: var(--text-main);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: var(--bg-card);
}

.logo {
  color: var(--accent);
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: var(--text-muted);
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--accent);
}

/* HERO */
.hero {
  max-width: 900px;
  margin: 120px auto;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
}

.hero h1 span {
  color: var(--accent);
}

.hero p {
  margin-top: 20px;
  color: var(--text-muted);
}

/* BUTTONS */
.btn {
  padding: 12px 26px;
  border-radius: 6px;
  text-decoration: none;
}

.primary {
  background: var(--accent);
  color: #020617;
}

.secondary {
  border: 1px solid var(--accent);
  color: var(--accent);
}

/* PROJECT LIST PAGE */
.projects-section {
  max-width: 1100px;
  margin: 100px auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: var(--bg-card);
  padding: 28px;
  border-radius: 10px;
}

.project-card p {
  color: var(--text-muted);
}

/* TAGS */
.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tags span {
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(20,184,166,0.18);
  color: var(--accent);
}
