/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* THEME */
:root {
  --bg: #0f172a;
  --card: #020617;
  --text: #e5e7eb;
  --muted: #94a3b8;
  --accent: #14b8a6;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.7;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: var(--card);
}

.logo {
  color: var(--accent);
  font-weight: 600;
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--muted);
}

.nav-links a.active,
.nav-links a:hover {
  color: var(--accent);
}

/* PROJECT DETAIL PAGE */
.project-detail {
  max-width: 900px;
  margin: 120px auto;
  padding: 0 20px;
}

.project-detail h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.project-subtitle {
  color: var(--muted);
  margin-bottom: 40px;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  color: var(--accent);
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.section p {
  color: var(--muted);
}

.section ul {
  padding-left: 20px;
}

.section li {
  color: var(--muted);
  margin-bottom: 8px;
}

/* TAGS */
.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tags span {
  background: rgba(20,184,166,0.15);
  color: var(--accent);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 22px;
  border: 1px solid var(--accent);
  color: var(--accent);
  text-decoration: none;
  border-radius: 6px;
}
